html, body, p, ul, li, h1, h2, h3, div, p, input, button, nav, form, main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input, button {
  border: none;
  background: transparent;
  outline: none;
}

button {
  cursor: pointer;
}

a,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --c-primary-bg: #F5F5F5;
  --c-secondary-bg: #E0E0E0;

  --c-primary-text: #333333;
  --c-secondary-text: #666666;

  --c-shadow: #333333;

  --c-thin-border: #CCCCCC;
  --c-medium-border: #999999;

  --c-button-bg: #E0E0E0;
  --c-button-border: #999999;
  --c-button-text: #333333;
  --c-button-bg-hover: #CCCCCC;
  --c-button-bg-active: #bbbbbb;
  --c-button-border-hover: #666666;

  --c-link: #007BFF;
  --c-success: #28A745;
  --c-error: #DC3545;

  --tr-small: 0.2s;
}

html, body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  height: 100%;
  background-color: var(--c-primary-bg);
  color: var(--c-primary-text);
}

#root {
  height: 100%
}

