.wrapper {
    width: 100%;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--c-secondary-bg);
}

.canvas {
    background-color: var(--c-primary-bg);
    box-shadow: 2px 2px 8px var(--c-shadow)
}

